<!-- Display all posts -->
{{#each posts}}
  <div class="post">
    <h2 class="forum-title">{{title}}</h2>
    <p class="forum-body">{{body}}</p>
    <p class="created-by">Created by: {{username}}</p>

    {{#if belongsToCurrentUser}}
      <a href="/update/{{id}}" class="update-button">Update</a>
    {{/if}}

    {{#if belongsToCurrentUser}}
      <a href="/delete/{{id}}" class="delete-button">Delete</a>
    {{/if}}

    <a href="/commentForm/{{id}}" class="comment-button">Comment</a>
    <h3>Comments</h3>
    {{#each comments}}
      <p>{{body}}</p>
      <p class="comment-created-by">Created by: {{username}}</p>
    {{/each}}
  </div>
{{/each}}